*{
  margin: 0;
  padding: 0;
  font-family: Kanit,Arial;
}

body{
   min-height: 100vh;
   width: 100%;
   background: url(city-under-moon-light-upscaled.png)no-repeat;
   background-position: center;
   background-size: cover;
}

/* #myVideo {
  position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}


@keyframes filter-animation {
    0% {
        filter: none;
    }

    100% {
        filter: blur(4px);
    }
}

#myVideo.animated {
    animation: filter-animation 5.5s forwards;
} */

.array {
    background: transparent;
    backdrop-filter: blur(4px);
    display: flex;
    color: white;
    height: 85px;
    z-index: 1;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px solid white;
    border-radius: 10px;
 }

 .header-title {
    font-size: 50px;
    height: 82px;
    width: 350px;
    flex-shrink: 0;
 }

 .follow-pages {
    height: 82px;
    width: 105px;
    flex-shrink: 0;
 }

button {
    font-size: 1rem;
    color: white;
    background-color: midnightblue;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 23%;
    transition: 0.2s;
 }

 button:hover{
    background: transparent;
    color: lightgoldenrodyellow;
 }

 .navbar{
    display: flex;
    position: relative;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    top: 150px;
    left: 70px;
    height: 40vh;
    border-radius: 50px;
    border: 1px solid white;
    width: 92px;
 }

 .navbar ul{
    list-style-type: none;
 }
 .navbar a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
 }

 .navbar a:hover{
    color: lightgoldenrodyellow;
 }

main{
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    position: absolute;
    left: 15vw;
    top: 20vh;
    width: 82vw;
    height: 72vh;
 }

 main img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90%;
    filter: brightness(70%);
 }

 #hpage p{
   color:#fff;
   font-size: 22px; 
   height: fit-content;
   position: relative;
   top: 125px;
   right: 200px;
   width: 100%;
 }

 #hpage h1{
   margin-top: 30px;
   color:#fff;
   position: relative;
   left: 35%;  
   width: 40%;
 }


 #hpage, #abpage, #cpage{
   border: 1px solid white;
   backdrop-filter: blur(2px);
 }

 #cpage{
    justify-content: space-evenly;
    align-items: center;
 }

 .contact-page-1,
 .contact-page-2,
 .contact-page-3{
    position: relative;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    height: 400px;
    width: 300px;
 }

 .contact-page-1 ion-icon,
 .contact-page-2 ion-icon,
 .contact-page-3 ion-icon{
   color: #fff;
   font-size: 100px;
   position: relative;
   top: 100px;
   left: 100px;
 }

 .contact-page-1 a,
 .contact-page-2 a,
 .contact-page-3 a{
   font-size: 20px;
   height: fit-content;
   color: white;
   position: relative;
   top: 230px;
   text-decoration: none;
  }

  .contact-page-1 a{
    right: 24px;
  }
  .contact-page-2 a,
  .contact-page-3 a{
    right: 32px;
  }

 .contact-page-1:hover{
   background-color: black;
   transition: 0.5s;
 }

 .contact-page-2:hover{
   background-color: #0072b1;
   transition-timing-function: ease-in-out;
   transition: 0.5s;
 }

 .contact-page-3{
   overflow: hidden;
 }

 .contact-page-3::before{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to right,#f9ce34,#ee2a7b,#6228d7);
   content: "";
   z-index: -1;
   transition: opacity 0.5s linear;
   opacity: 0;
 }

 .contact-page-3:hover::before{
   opacity: 1;
 }